<!DOCTYPE html>
<html>
  <head>
    {% load widget_tweaks %}
    <title>Listagem de Gestores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <style>

    </style>
  </head>
  <body>
    <form role="form" action="{% url 'alunos' %}" method="POST">
      <!-- Acesso ao conteudo django/python -->
      {% csrf_token %}
      <!-- Se ocorrer algum erro ou sucesso na gravacao dos dados... mensagem é coloca aqui -->
      {{ alert|safe }}
      <br>
      <h2> Listagem / Consulta de Gestor </h2>
      <br>
      <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome de Usuário</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Professor</th>
                <th>Aluno</th>
              </tr>
            </thead>
            <tbody>
              {% for gestor in gestores %}
                <tr>
                  <td>{{gestor.user.username}}</td>
                  <td>{{gestor.user.first_name}}</td>
                  <td>{{gestor.user.last_name}}</td>
                  <td>{{gestor.user.email}}</td>
                  <td>{{gestor.celular}}</td>
                  <td>{{gestor.professor}}</td>
                  <td>{{gestor.aluno}}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
      <br>
      <button type="submit" class="btn btn-primary"> Pesquisar </button>
      <button type="reset" class="btn btn-danger"> Limpar </button>
    </form>

  </body>
</html>