<!DOCTYPE html>
<html>
<head>
	<title>GymManager - Início</title>
	{% load static %}    {% load widget_tweaks %}


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<link rel="stylesheet" href="{% static '/CSS/style_consulta.css' %}"/>
		
</head>
<body>
	
	<div id="div_top">
		<ul id="ul_nav_bar">
			<li><a href="./inicio.html" id="li_logo"></a></li>
			<div id="div_sub_bar">
				<li><a id="a_sub_bar2" href="./inicio.html">Início</a></li>
				<li><a id="a_sub_bar" href="#">Quem somos?</a></li>
				<li><a id="a_sub_bar" href="#">História</a></li>
				<li><a id="a_sub_bar" href="#">Sobre</a></li>
			</div>
			<li id="li_right"><a id="a_login" href="usuarios"><span class="glyphicon glyphicon-log-in"></span> USUÁRIOS</a></li>
		</ul>
	</div>
	
	<div id="div_left">
		
	</div>
	
	<div id="div_center">
    <div id="tabela">
      <form method="POST" action="{% url 'addusuario' %}">
            {% csrf_token %}

            <br>
            <h2> Listagem / Consulta de Usuários </h2>
            <br>
            <table class="table table-striped" style="display:block;margin-left:25%;">
                  <thead>
                    <tr>
                      <th>Nome de Usuário</th>
                      <th>Nome</th>
                      <th>Sobrenome</th>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th>Gestor</th>
                      <th>Professor</th>
                      <th>Aluno</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for usuario in usuarios %}
                      <tr>
                        <td>{{usuario.user.username}}</td>
                        <td>{{usuario.user.first_name}}</td>
                        <td>{{usuario.user.last_name}}</td>
                        <td>{{usuario.user.email}}</td>
                        <td>{{usuario.celular}}</td>
                        <td>{{usuario.gestor}}</td>
                        <td>{{usuario.professor}}</td>
                        <td>{{usuario.aluno}}</td>
                      </tr>
                  {% endfor %}
                  </tbody>
                </table>
            <br>
            <button type="submit" class="btn btn-primary"> Novo Usuário </button>
            <button type="reset" class="btn btn-danger"> Limpar </button>
      </form>
    </div>
	</div>

	<div id="div_footer"></div>

	
</body>
</html>