<!DOCTYPE html>
<html>
<head>
	<title>Pagina de Cadastro</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../CSS/bootstrap.min.css"/>
	<link rel="stylesheet" href="../JS/bootstrap.min.js"/>
	<link rel="stylesheet" type="text/css" href="../CSS/style_cadastro.css"/>

</head>
  

<body>

	<div id="div_top">
		<ul id="ul_nav_bar">
			<li><a href="./inicio.html" id="li_logo"></a></li>
			<div id="div_sub_bar">
				<li><a id="a_sub_bar2" href="./inicio.html">Início</a></li>
				<li><a id="a_sub_bar" href="#">Quem somos?</a></li>
				<li><a id="a_sub_bar" href="#">História</a></li>
				<li><a id="a_sub_bar" href="#">Sobre</a></li>
			</div>
			<li id="li_right"><a id="a_login" href="./login.html"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
		</ul>
	</div>
	
	<div id="div_left">
		
	</div>
	
	<!--<div id="div_right"></div>-->
	
	<div id="div_center">
		<div id="div_conteudo">
			<form>
				<label>Nome</label>
				<input type="text" placeholder="Nome"></input>
			</form>
		</div>
		
	</div>

	<div id="div_footer">
	</div>

</body>
</html>