<!DOCTYPE html>
<html>
<head>
	<title>GymManager - Início</title>
	
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../CSS/bootstrap.min.css"/>
	<link rel="stylesheet" href="../JS/bootstrap.min.js"/>
	<link rel="stylesheet" href="../CSS/style_inicio.css"/>
	<link rel="stylesheet" href="../JS/tela_inicio.js"/>
		
</head>

<body>
	
	<div id="div_top">
		<ul id="ul_nav_bar">
			<li><a href="./inicio.html" id="li_logo"></a></li>
			<div id="div_sub_bar">
				<li><a id="a_sub_bar2" href="./inicio.html">Início</a></li>
				<li><a id="a_sub_bar" href="#">Quem somos?</a></li>
				<li><a id="a_sub_bar" href="#">História</a></li>
				<li><a id="a_sub_bar" href="#">Sobre</a></li>
			</div>
			<li id="li_right"><a id="a_login" href="./login.html"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
		</ul>
	</div>
	
	<div id="div_left">
		
	</div>
	
	<!--<div id="div_right"></div>-->
	
	<div id="div_center">
		<div id="img_inicio">
			<img src="../img/academia.png" id="img_inicio_texto"></img>
			</br>
			<p align="center" id="img_inicio_texto">Academia Beleza e Saude - <b>Fonte: Rafael Silva</b></p>
		</div>
		
		<hr/>
		<p class="p_inicio">Devido ao grande crescimento com a preocupação estética, notadamente relacionada com o corpo, muitas 
			academias surgem para suprir as necessidades dos clientes, que estão cada vez mais exigentes.
			Com o aumento exorbitante do fluxo de informações e o crescente número de alunos que frequentam academias 
			torna-se cada vez mais difícil armazenar, organizar, selecionar, consultar e gerenciar as informações desejadas.
			Após a constatação do surgimento desse problema, fez-se necessário informatizar isto é, desenvolver um sistema 
			que organize e auxilie o professor na realização das atividades controlando matrículas e acompanhando o progresso
			dos alunos.	O sistema proposto tem como objetivo controlar de maneira organizada o registro dos alunos que frequentam
			a academia, fornecendo relatórios de acompanhamento periódicos que praticam musculação. Esses relatórios apontam
			informações referentes à avaliação física realizada pelo profissional responsável, o qual se encarregará de preparar
			ou alterar o treino de acordo com a evolução ou objetivo do seu cliente. Esse sistema visa eliminar fichas de treino
			no papel além de facilitar o gerenciamento em academias onde, devido ao aumento na quantidade de alunos torna a
			manutenção  e gerenciamento dessas fichas uma tarefa não muito agradável.</p>
		
	</div>

	<div id="div_footer"></div>

	
</body>
</html>