<!DOCTYPE html>
<html>
  <head>
    {% load widget_tweaks %} 
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <style>
        .radio{
          margin-right:35px;

        }

    </style>
  </head>
  <body>
    <form role="form" action="{% url 'cliente' %}" method="POST">
      <!-- Acesso ao conteudo django/python -->
      {% csrf_token %}
      <!-- Se ocorrer algum erro ou sucesso na gravacao dos dados... mensagem é coloca aqui -->
      {{ alert|safe }}
      <h2> oi...Cadastro de Clientes Academia Virtual </h2>
      <!-- Os Campos de Form sao renderizados como P -->
      <!-- {{ formc.as_p }} formulario pronto... visual ruim -->
      <!-- Estrutura do BootStrap -->
      <br>
      <div class="form-group">
        <label for="first_name">Primeiro Nome:</label>
        {% render_field form.first_name placeholder+="Digite aqui" %}
        
        <label for="last_name">Sobrenome:</label>
        {% render_field form.last_name placeholder+="Digite aqui" %}
        <br>
        <label for="username">Username:</label>
        {% render_field form.username placeholder+="Digite aqui" %}
        <br>
        <label for="password1">Senha:</label>
        {% render_field form.password1 %}
        <label for="password2'">Confirmação da Senha:</label>
        {% render_field form.password2 %}
        <br>
        <label for="email">Email:</label>
        {% render_field form.email placeholder+="@" %}
        <br>
        <label for="urgtel">Telefone de Emergência:</label>
        {% render_field form.urgtel placeholder+="" %}
        <br>
        <label for="celular">Celular:</label>
        {% render_field form.celular placeholder+="Digite aqui" %}
        <br>
        <label for="celular">Enderço:</label>
        {% render_field form.endereco placeholder+="Digite aqui" %}
        <br>
        <label for="celular">Número:</label>
        {% render_field form.numero placeholder+="Digite aqui" %}
        <br>
        <label for="celular">Cidade:</label>
        {% render_field form.cidade placeholder+="Digite aqui" %}
        <br>
        <label for="celular">Estado:</label>
        {% render_field form.estado placeholder+="Digite aqui" %}
        <br>
        <div class="form-check-inline">
          <label for="celular">Professor:</label>
          {% render_field form.professor class+="radio" %}
          <br>
          <label for="celular">Aluno:</label>
          {% render_field form.aluno class+="radio" %}
          <br>
          <label for="celular">Gestor:</label>
          {% render_field form.gestor class+="radio"%}
          <br>
        </div>

      </div>

      <button type="submit" class="btn btn-primary"> Salvar </button>
      <button type="reset" class="btn btn-danger"> Limpar </button>
    </form>

  </body>
</html> 